
.field {
  border: 1px solid black;
  box-sizing: border-box;
  background-color: white;
}

.canvas {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  background-color: green;
  display: flex;
}


/* ----------------------------------------------
  Buttons area
 * ---------------------------------------------- */

.buttonsArea {
  display: block;
  width: 200px;
  height: 200px;
  color: blue;
  border-radius: 5%;
  border-width: 2;
  border-color: red;
  background-color: white;
}

.create-sheep {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 10px auto;
}

.create-sheep .form-control {
  margin: 10px auto;
}

.create-sheep .form-control:focus {
  z-index: 2;
}

.create-sheep .input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
